.label-name {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  color: var(--color_bleu);
  border-bottom: 2px solid var(--color-dark);
}
label:hover {
  border-bottom: 2px solid var(--color_bleu);
  
}

.label-name span {
  margin-left: 10px;
  color: var(--color_bleu);
}

.uplaod-percent {
  font-family: 'Gloria Hallelujah', cursive;
  color: var(--color_bleu);
}

.wrapper .card-container .audio-container {
    margin-top: 60px;
} 

.upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    margin: 3rem;
    padding: 2rem 0;
    background-color: #22222250;
    border-radius: 3rem;
    box-shadow: 10px 10px 10px var(--color-dark);
  }
  
  .wrapper .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    border-radius: 2rem;
    margin:2rem;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  

  /* .title-song {
    margin: 16px;
    font-size: 16px;
  } */
  
  .audio-container {
    margin: 16px;
  }
  
  .container-input {
    margin: 16px 0;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
  }

 
  
  .upload-input {
    /* margin-bottom: 16px; */
    display: none;
  }
  
  .input-title {
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  
  .uplaod-percent {
    margin-top: 16px;
    font-size: 14px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 3rem;
  }
  