@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
span {
    margin-bottom: 2rem;
    color: #22222280;
    font-family: "DynaPuff", cursive;
}

.nav-menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.nav-menu-footer .socials {
    display: flex;
    margin: 1rem 0;
    font-size: 2rem;
}

.nav-menu-footer li {
    margin: .5rem 0;
    font-family: 'Gloria Hallelujah', cursive;
}


.nav-menu-footer .menu-link-footer {
    text-decoration: none;
    color: #fff;
}
.nav-menu-footer .menu-link-footer:hover {
    color: var(--color_bleu);
}

.nav-menu-footer .socials li {
    margin: 2rem;
}