
.parallax {
    background-image: url("../img/sunset.jpg");
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax .waves {
    position: relative;
    top: 230px;
  }