.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2022/10/17/00/02/dual-7526360_1280.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }