h1 {
  font-size: 2.5rem;
  margin-left: 20px;
  padding: 2rem;
  font-family: 'DynaPuff', cursive;
}

.title-ari-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-ari-container p {
  font-size: 1rem;
  margin-right: 90px;
  font-family: 'DynaPuff', cursive;
}

.title-ari-container .link-to-file{
  position: absolute;
  left: 20%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}

.title-ari-container p span {
  color: var(--color_mauve);
}

a {
  text-decoration: none;
  color: white;
}



.card-container .title-song {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 5px;
  background-color: var(--color_bleu-fonce);
}

.btn-add-remove .btn-add {
  position: absolute;
  left: 5%;
  top: 20%;
}



.container-muse {
  display: flex;
  padding: 0 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.btn-add-remove {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color_bleu-75p);
}

.btn-small {
  background-color: transparent;
  color: #FFF;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.btn-small:hover {
  color: var(--color_bleu-75p);
}

.title-songs {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
}

.audio-container {
  position: relative;
  top: 280px;
  width: 100%;
}

audio {
  background-color: var(--color_bleu);
  width: 110%;

}



audio::-webkit-media-controls-panel {
  background-color: var(--color_bleu);
  outline: none;

}



audio::-webkit-media-controls-play-button {
  display: -webkit-box;
  width: 16px;
  height: 16px;
  /* background-color: #fff; */
}







audio::-webkit-media-controls-current-time-display {
  font-family: 'DynaPuff', cursive;
  color: #FFF;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #FFF;
  font-family: 'DynaPuff', cursive;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem 0;
  margin: 10px;
  left: 0;
  bottom: 0;
  border-radius:3rem;
  background-color: var(--color_bleu-75p);
}

.modal .modal-content {
  display: flex;
  padding:0 5px;
  justify-content: center;
  align-items: center;
  font-family: 'DynaPuff', cursive;

}
.btn-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: white;
}
.btn-modal:hover {
  cursor: pointer;
}

.modal-header h3 {
  font-size: 1rem;
  padding-right: 10px;
}

.deleteSong {
  font-size: 1rem;
}

.deleteSong:hover {
  color: var(--color_bleu-75p);
}