h1 {
    font-size: 2.5rem;
    margin-left: 50px;
    padding: 2rem;
    font-family: 'DynaPuff', cursive;
}

.title-ari-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-ari-container p {
    font-size: 1rem;
    margin-right: 90px;
    font-family: 'DynaPuff', cursive;
}
.title-ari-container p span{
    color: var(--color_mauve);
}
a {
    text-decoration: none;
    color: white;
}
.container {
    justify-content: center;
}

.container .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    border-radius: 2rem;
    margin:2rem;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .title-song {
    color: var(--color-dark);
    font-family:"DynaPuff", cursive;
    padding: 15px;
    margin-bottom: 5rem;
    border-radius: 2rem;
    background-color: #56AEFF;
}

.card-container .audio-container {
    margin-top: 3.5rem;
}


audio::-webkit-media-controls-panel {
    background-color: #56AEFF;
  }