

  .container-playlists {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-playlists .item {
      margin: 2rem;
    } 
  .container-playlists .item:hover {
        filter: grayscale();
        cursor: pointer;
    }
    
    
    .container-playlists .item .playlist-image {
        background-color: var(--color_mauve);
        padding-top: 10px;
        padding-right: 10px;
        border-radius: 2rem;
    }

 .playlists-title {
    font-family: 'DynaPuff', cursive;
}

.container-playlists .item .playlist-name {
    font-family: 'DynaPuff', cursive;

}