:root {
    --color-dark: #222;
    --color-dark_50p: rgba(34, 34, 34, 0.466);
    --color_blue: #1b2a41;
    --color_blue_50p: #1b2a417c;
    --color_charcoal: #324a5f;
    --color_charcoal_50p: #324a5f7e;
    --color_lavender: #ccc9dc;
    --color_lavender_50p: #ccc9dc7e;
    --color_bluePurple-light: #B2ABFF;
    --color_bluePurple-light_50p: #b2abff79;
    --color_purple-light: #D7CFFF;
    --color_purple-light_50p: #d7cfff73;
  }

  .container-playlists {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-playlists .item {
      margin: 2rem;
    } 
  .container-playlists .item:hover {
        filter: grayscale();
        cursor: pointer;
    }
    
    
    .container-playlists .item .playlist-image {
        background-color: var(--color_mauve);
        padding-top: 10px;
        padding-right: 10px;
        border-radius: 2rem;
    }

 .playlists-title {
    font-family: 'DynaPuff', cursive;
}

.container-playlists .item .playlist-name {
    font-family: 'DynaPuff', cursive;

}