:root {
  --color-dark: #222;
  --color-dark_50p: rgba(34, 34, 34, 0.466);
  --color_blue: #1b2a41;
  --color_blue_50p: #1b2a417c;
  --color_charcoal: #324a5f;
  --color_charcoal_50p: #324a5f7e;
  --color_lavender: #ccc9dc;
  --color_lavender_50p: #ccc9dc7e;
  --color_bluePurple-light: #B2ABFF;
  --color_bluePurple-light_50p: #b2abff79;
  --color_purple-light: #D7CFFF;
  --color_purple-light_50p: #d7cfff73;
}

.container-accueil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
}

.container-accueil .text-accueil {
  font-size: 2rem;
  font-family: 'PlayFair Display', sans-serif;
  padding: 0 2rem;
}

.container-accueil .img-accueil {
  /* border-radius: 2rem; */
  padding: 0 2rem;
}

.container-accueil .img-accueil img {
  border-radius: 2rem;

}

body {
  color: white;
  background: linear-gradient(0deg, var(--color_mauve), var(--color-dark), var(--color-dark));
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin: 2rem;
  border-radius: 2rem;
}

.container .item {
  position: relative;
  margin: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  background: linear-gradient(145deg, #2d659621, #26557e25);
  /* box-shadow: 0px 0px 0px #1f4668,
    -5px -5px 0px var(--color_yellow); */

}

.container .item .fa-icons-record {
  position: absolute;
  font-size: 3rem;
  top: 120px;
  left: 30px;
  color: var(--color_yellow);
  padding: 10px;
  background-color: transparent;
  border: none;

}

.container .item .fa-icons-plus {
  position: absolute;
  top: 125px;
  right: 30px;
  font-size: 3rem;
  color: var(--color_yellow);
  background-color: transparent;
  border: none;
}

.container .item .fa-icons-record:hover {
  cursor: pointer;
  color: var(--color_mauve);
}
.container .item .fa-icons-plus:hover {
  cursor: pointer;
  color: var(--color_mauve);
}

.container .item .playlist-name {
  font-family: 'DynaPuff', cursive;

}

/* .container .item .playlist-image:hover{
  filter: grayscale();
} */
/* .container .item:hover {
  cursor: pointer;
  
} */

.playlist-image {
  max-width: 300px;
  border-radius: 1rem;
  /* border-radius: 58px; */

}

.featured-title {
  font-family: 'DynaPuff', cursive;
  margin-left: 70px;
}

.featured-title .icon-music {
  margin-left: 15px;
  color: var(--color_yellow);
}

.chansonsVedettes {
  margin-top: 9rem;
  height: 600px;
}