:root {
    --color-dark: #222;
    --color-dark_50p: rgba(34, 34, 34, 0.466);
    --color_blue: #1b2a41;
    --color_blue_50p: #1b2a417c;
    --color_charcoal: #324a5f;
    --color_charcoal_50p: #324a5f7e;
    --color_lavender: #ccc9dc;
    --color_lavender_50p: #ccc9dc7e;
    --color_bluePurple-light: #B2ABFF;
    --color_bluePurple-light_50p: #b2abff79;
    --color_purple-light: #D7CFFF;
    --color_purple-light_50p: #d7cfff73;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 946px;
    background: linear-gradient(0deg, var(--color_mauve), var(--color-dark), var(--color-dark));
}

.container-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--color_charcoal_50p); */
    /* background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); */
    /* border-radius: 2rem; */
    width: 600px;
    height: 600px;
}

.container-login h1 {
    margin-left: 0px;
    font-family: 'DynaPuff', cursive;
    margin-bottom: 4rem;
    font-size: 3rem;

}

.container-login .fa-icon-login {
    margin-top: -150px;
    padding: 2rem;
    font-size: 60px;
}

.container-form .btn-login {
    line-height: 1rem;
    border-radius: 2rem;
    background-color: var(--color_mauve);
    outline: transparent;
    border: transparent;
}

.container-form .btn-login:hover {
    background-color: var(--color_yellow);
    color: #fff;
    cursor: pointer;
}

.container-form .btn-login input {
    font-size: 1.5rem;
    font-family: 'DynaPuff', cursive;
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--color_mauve);
    outline: transparent;
    border: transparent;

}

.container-form .btn-login input:hover {
    background-color: var(--color_yellow);
    color: #fff;
    cursor: pointer;

}